body{
    background-image: url('../images/misc/jpgsmall.jpg');
}
* {
    font-family: helvetica;
}

/********************
MENU - NAVBAR
*********************/
._nav{
    background-color: #10b7b3;
    color: white;
    border: none;
    border-radius: 0;
      box-shadow: 0 3px 9px -2px rgba(0,0,0,0.29)
}


.navbar-default .navbar-nav li a{
  color: white;
  font-weight: 600;
}
.navbar-wrapper .navbar{
    border-radius: 0;
}

.navbar-header{
    
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/********************
SLIDER - CAROUSEL
*********************/

.carousel-caption{
    text-align: left;
    padding-left: 27%;
}

._button{
    background-color: white;
    padding: 6px 10px;
    color: #10b7b3;
    font-weight: 600;
    font-size: 18px;
}




.carousel-caption h1, .carousel-caption h2 {
font-weight: 700;
    
}

.carousel-caption h1, .carousel-caption h2, .carousel-caption p { 
  text-shadow: 1px 1px 1px #333, 
               3px 3px 5px #222; 
}


.carousel-caption h1{
    font-size: 3em;
}

.carousel-caption h2{
    font-size: 2.9em;
}

/********************
1st SECTION - DOWNLOAD
*********************/

.inbetweener{
    color: white;
    text-align: center;
    margin: 1.5em 0;
    font-weight: 700;
}

.section-download{
    margin: 5px 0;
    background: linear-gradient(#10b7b3 62%, white 37%);

}
#dl-phone{
    height: 45vh;
}


@media (min-width: 940px) {
#dl-phone{
    height: 700px
    
}

.dl-text h3{
    font-size: 2.9em;
}

.dl-text p{
    font-size: 1.3em;
}

} /***** end bigscreen *****/
.dl-text{
    color: white;
    padding: 3%;
}

.vcenter{
     display: inline-block;
    vertical-align: middle;
    float: none;
}

#dl-phone{
    float: right;
    margin: 20px 0 15px 0;
}

.dl-icon-row img{
    padding: 5px 5px 5px 0;
    margin: 20px 10px 0 0;
}

.dl-text h3{
    font-weight: 500;
}
.dl-text p{
    font-weight: 100;
    padding-right: 6%;
}


/********************
2nd SECTION - CONTACT
*********************/

.section-contact{
    height: 1000px;
    background-color: #E3D1A6;
    color: #B5A47B;
}


/********************
DAS FOOTER
*********************/


 ._footer {
   text-align: center;  
   color: white;
     
 }

 ._footer h2 {
    color: #10b7b3;
    font-size: 2em;
 }
 
  ._footer a {
    font-size: 1.4em;
       color: white;
 }
 
 ._footer .text-left{
     padding-left: 55px;
     
 }
 