/* Global font config */
body{
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: "Helvetica", sans-serif;
	font-weight: normal;
}
@font-face{
	font-family: "Helvetica-light", sans-serif;
	font-weight: lighter;
}
@font-face{
	font-family: "Helvetica-semi", sans-serif;
	font-weight: 500;
}
@font-face{
	font-family: "Helvetica-bold", sans-serif;
	font-weight: 600;
}