/* 
	-css for index.html 
	-global styles
	-commenter parts
*/



body{
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: "Helvetica";
}
#container{
	width: 100%;
	margin: 0;
	padding: 0;
}

@import "bootstrap";
//@import "3-sections/navbar.1";
@import "3-sections/navbar";



.outerbox{
	margin-right: 0%;
	margin-left: 0%;
	background-color:#eeedee;
}
.contentbox{
	margin-left: 20%;
	margin-right: 20%;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	margin-top: 2em;
	margin-bottom: 2em;
	background-color: white;
	padding-bottom: 1em;
	padding-top: 1em;
}
.contentbox h1{
	text-align: center;
	font-size: 2.3em;
	color: #454545;
}
.contentbox p{
	font-size: 1.4em;
	color: #545454;
	letter-spacing: 0.01em;
	word-spacing: 0.03em;
	margin-top: 1em;
}
.boxtext{
	margin-left: 10%;
	margin-right: 10%;
}
.boxtext .boxtextalign2{
	text-align: center;
}
.align{
	font-weight: normal;
}
.boxtext a{
	text-decoration: none;
	color: #11b8b4;
}
.boxtext a:hover{
	color: #545454;
}
/* DIVIDER */
/* DIVIDER */

.divider{
	width: 100%;
	background-color: #ffffff;
	text-align: center;
	margin-top: 6em;
	margin-bottom: 6em;
}


/* DOWNLOAD */
/* DOWNLOAD */


.googlepic, .phonepic{
	display: block;
	margin-right: auto;
	margin-left: auto;	
}
.downloadinfo{
	float: left;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	height: 20em;
	margin-top: 5em;
	margin-bottom: 5em;
}
table{
	width: 50%;
	margin-bottom: 15em;
}
table td{
	text-align: left;
	height: 23em;
}
table td img{
	/* normal phone */
	position: absolute;
	right: 800;
	top: 1310;
}
table td+td b{
	white-space: normal;
	font-size: 1.7em;
	color: #11b8b4;
}
table td+td p{
	/* text next to phone */
	position: absolute;
	width: 22em;
	right: 560;
	top: 1450;
}
.google{
	position: absolute;
	width: 5em;
	left: 845;
	top: 1730;
}
.google p{
	margin: 0;
	margin-bottom: 0.7em;
	white-space: nowrap;
}
#down{
	margin-top: -0.5em;
}
/* END DOWNLOAD */
/* END DOWNLOAD */


/* END DIVIDER */
/* END DIVIDER */

.boxtextalign1{
	text-align: center;
	margin-bottom: 4em;
}
.boxtextalign1 b{
	font-weight: normal;
	color: #11b8b4;
}
.boxtextalign2 b{
	font-weight: normal;
}

/* CONTACT FORM */
/* CONTACT FORM */


form{
	text-align: center;
	margin-top: 3em;
}
input, textarea{
	width: 60%;
	height: 2em;
	font-family: inherit;
	font-size: 1.4em;
	color: #545454;
	border: 0;
	border-bottom: 2px solid #545454;
	margin-top: 1em;
	margin-bottom: 1em;
}
textarea{
	height: 5em;
}
input:focus, textarea:focus{
	border-color: #11b8b4;
}
button{
	background-color: #11b8b4;
	border: 1px solid #11b8b4;
	color: #fff;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 1em;
	padding-left: 1em;
	font-size: 1.2em;
	cursor: pointer;
	margin-left: 23em;
	margin-bottom: 1.5em;
}


/* END CONTACT FORM */
/* END CONTACT FORM */


footer{
	width: 100%;
	background-color: #545454;
	height: 10em;
	margin-top: 6em;
	margin-bottom: 0;
	font-family: inherit;
	color: #fff;
	line-height: 1.5em;
}
footer p{
	margin: 0;
	padding: 0;
}
.footerdiv{
	width: 23.3%;
	float: left;
	padding: 1em;
	padding-top: 1.5em;
	margin-left: auto;
	margin-right: auto;
}
.footerdiv:nth-child(1){
	text-align: right;
	margin-left: 4.5em;
	/*background-color: red;*/
}
.footerdiv:nth-child(2){
	text-align: center;
	margin-left: 1em;
	/*background-color: blue;*/
}
.footerdiv:nth-child(3){
	text-align: left;
	margin-left: 2em;

	/*background-color: yellow;*/
}
.footerdiv:nth-child(4){
	text-align: center;
	padding-top: 1.5em;
	margin-left: -22em;
	/*background-color: purple;*/
}

footer a{
	text-decoration: none;
	color: #11b8b4;
	margin: 0;
	padding: 0;
}
footer a:hover{
 color: #fff;
}
.backtotop{
	position: absolute;
	left: 1800;
}