
<!-- SUBSCRIBE SECTION ******************
================================================== -->

      
      
  <section class="container-fluid form-container-plain" id="create-event">
<div class="container">
	
	
    <div class="top-profile-cont">	
 	<div class="profile-info-cont">
    <img src="/images/logo/profile-img.png"></img>
    <div class="profile-info-text">
	<h3>DREAM ENTERTAINMENT</h3>
	<p>Jamaica</p>
	</div>
	</div>
        {%include register/profile-right.html %}
    </div>
        <br>

    


    

<div class="container col-xs-12 account-tabs">
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs account-toggle-tabs" role="tablist">
      <li id="events-tab" class="tabby active">
          <a href="#manage-events" role="tab" data-toggle="tab">
            MANAGE EVENTS
          </a>
      </li>
      <li id="account-tab" class="tabby">
        <a href="#manage-account" role="tab" data-toggle="tab">
             MANAGE ACCOUNT
          </a>
      </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade active in" id="manage-events">
          
          <h2>This feature allows you to edit and update your events.</h2>
         <div class="container-fluid image-mainwrapper">
             

{% for member in site.data.eventimg %}

  
  <div class="dozey">
    <div class="hovereffect">
        <img class="img-responsive" src="{{member.link}}" alt="">
        <div class="overlay">
           <h2>{{ member.name }}</h2>
           <a class="info" href="#">click to modify</a>
        </div>
    </div>
</div>
  
  
{% endfor %}


   
             
        <!--<div class="box-3 box col-md-4 col-sm-6">-->
        <!--    <img src="https://placehold.it/300/09f/fff.png" alt="event-placeholder" class="img-placeholder img-responsive "/>-->
        <!--    <span class="caption fade-caption">-->
        <!--        <h3>Fade Caption</h3>-->
        <!--        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
        <!--    </span>-->
        <!--</div>-->

        <!--<div class="box-3 box col-md-4 col-sm-6">-->
        <!--    <img src="https://placehold.it/300/09f/fff.png" alt="event-placeholder" class="img-placeholder img-responsive "/>-->
        <!--    <span class="caption fade-caption">-->
        <!--        <h3>Fade Caption</h3>-->
        <!--        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
        <!--    </span>-->
        <!--</div>-->
        
        <!--<div class="box-3 box col-md-4 col-sm-6">-->
        <!--    <img src="https://placehold.it/300/09f/fff.png" alt="event-placeholder" class="img-placeholder img-responsive "/>-->
        <!--    <span class="caption fade-caption">-->
        <!--        <h3>Fade Caption</h3>-->
        <!--        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
        <!--    </span>-->
        <!--</div>-->

        <!--<div class="box-3 box col-md-4 col-sm-6">-->
        <!--    <img src="https://placehold.it/300/09f/fff.png" alt="event-placeholder" class="img-placeholder img-responsive "/>-->
        <!--    <span class="caption fade-caption">-->
        <!--        <h3>Fade Caption</h3>-->
        <!--        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
        <!--    </span>-->
        <!--</div>-->






      	</div>
      
      </div>
      <div class="tab-pane fade" id="manage-account">
      	
      	
      	
      	
      	
      	
          <h2>Profile Content Goes Here</h2>
          <img src="http://lorempixel.com/400/400/cats/2" alt="Cats"/>
          
          
          
          
          
          
          
      </div>
    </div>
    
</div>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    


</div>

    
</section>



